<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>99Cats</h1>
        <% @cats.each do |kitty| %>
          <ul class="indexUL">
            <li>
              
                <li>Name: <%= link_to(kitty.name, cat_url(kitty)) %></li>
                <li>DOB: <%= kitty.birth_date %></li>
                <li>Fur Color: <%= kitty.color %></li>
                <li>Sex: <%= kitty.sex %></li>
                <li>About: <%= kitty.description %></li>
                <% unless kitty.cat_rental_requests.pluck(:start_date).empty? %>
                  <li>Rental Start Date: <%= kitty.cat_rental_requests.pluck(:start_date)[0] %></li>
                  <li>Rental End Date: <%= kitty.cat_rental_requests.pluck(:end_date)[0] %></li>
                <% end %>
              
            </li>
          </ul>
        <% end %>
  </body>
</html>
