<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to("Make a new cat", new_cat_url) %>
        <% @cats.each do |kitty| %>
          <ul>
            <li>
              <ul>
                <li><%= link_to(kitty.name, cat_url(kitty)) %></li>
                <li><%= kitty.birth_date %></li>
                <li><%= kitty.color %></li>
                <li><%= kitty.sex %></li>
                <li><%= kitty.description %></li>
              </ul>
            </li>
          </ul>
        <% end %>

  </body>
</html>
