<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @cat.name %></title>
  </head>
  <body>
    <h1> <%= @cat.name %> </h1>
    <table>
      <tr>
        <th>Birth Date</th>
        <th>Sex</th>
        <th>Color</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= @cat.birth_date %></td>
        <td><%= @cat.sex %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.description %></td>
      </tr>
    </table>
  </body>
</html>
