<!DOCTYPE html>
<html>
<head>
  <title>NnCats</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body>

<nav class="main-nav">
<h1><%= link_to "99 Cats", cats_url %></h1>
<div>
<% if current_user.nil? %>
  <%= link_to "Sign in", new_session_url %>
  <%= link_to "Sign up", new_user_url %>
<% else %>
  <%= current_user.username %>
  <%= button_to "Logout", session_url, method: :delete %>
<% end %>
</div>
</nav>

<%= yield %>

</body>
</html>
